<!--
 * @Author: airmz
 * @Date: 2020-09-29 14:23:00
 * @LastEditTime: 2020-09-30 11:24:30
 * @FilePath: \az-jnxinshuo.com\template\default\html\about.html
-->
{include file=comm/head.html}

{include file=comm/tab-nav.html}


<div class="sp_content" id="contentRight">
	<div class="content_com_title">
		<h2>{content:title}</h2>
		<div class="bread">{include file=comm/position.html} </div>
	</div>
	<div class="content">
		<p>
			<span style="font-size:20px;">{content:content}</span>
		</p>
	</div>

</div>
</div>


{include file=comm/foot.html}